
body{
  font-family: 'Aboreto', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'source sans pro', sans-serif;
font-family: 'Ubuntu', sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.back{ 
   background-image: url(/image/bg6.jpg);
   width: 100%;
   height: 95Vh;
   border: 1px solid white;
   border-radius: 10px 10px;
}
.container1{
  background-color:transparent;
  width: 100%;
  height: 50%;
}
.img1 img{
  width: 80px;
  height: 50px;
  padding-left: 20px;
}
.nav{
  width: 95%;
  display: flex;
  justify-content: space-between;
  
  
}
.option{
  /* gap: 5%;
  text-align: end; */
  padding-top: 10px;
  
} 
.option a{
  text-decoration: none;
  color: white;
  font-weight: bolder;
  padding-right: 12px;
  font-size: large;
  
  
  /* border-width: 20px; */
}
 

.option a:hover{
  /* background-color:#8758FF; */
  /* border-radius: 10px 10px; */
  color:#FFCB42;
  border-bottom: 2px solid white;
  width: 5px;
 
}
/* .option a::after{ 
  content: '';
  width: 0%;
  height: 2px;
  background: #8758FF;
  display: block;
  margin: auto;
  transition: 0.5s;

} */
.border a{
 padding-left: 30px;  
}

  .head{
    color: white;
    margin-left: 7%;
    font-weight: bolder;
   font-size: x-large;
    
  }
  .head1{
   padding-right: 9%;
  }
  .head1 h2{
    font-size:25px;
  }
  .head1 h1{
    font-size: 30px;
  }
 
  .devp{
    color: #FFCB42;
  }
  .head{
    padding-top: 6%;
  } 
  .head a{
    
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 0.5rem 0.5rem;
    background-color:transparent;
    width: 58%;
    padding: 5px 5px 5px 5px;
    
    
  }
  .head a:hover{
    /* background-color:#7895B2 ; */
    background-color: black;
    color:#FFCB42; 
    
  }
  .container1 .section1 .nav a:hover{
    color: #05595B;
}
.container1 .section1 .nav a::after{
   content:'';
   width: 0%;
   height: 4px;
   background: #05595B;
   display: block;
   margin: auto;
   transition:0.5s ;

}
.container1 .section1 .nav a:hover::after{
    width: 100%;
}
  .move{
    padding-top: 40px;
  }
  /* .balls{
    background: #131315;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
  } */

  /* .nmz {
border:solid black 1rem;
background-color: grey;
  } */
  #ball{
    animation: float 3.5s ease-in-out infinite;
    height: 62px;
    width: 80px;
    border-radius: 50%;
    position: relative;
    margin-left: 31%;
    background: radial-gradient(#8758FF, transparent  );
 
  }
  @keyframes float {
    0%{
      transform: translateY(0px);
    }
    50%{
      transform: translateY(-80%);
    }
    100%{
      transform: translateY(0PX);
    }
  }
  .shadow{
    background: #6d3eda;
    width: 4%;
    height: 25px;
    top: 88%;
    animation: expand 4s infinite;
    position: absolute;
    border-radius: 50%;
    margin-left: 25%;
  }
  @keyframes expand{
    0%,
      100% {
        transform: scale(0.5);
      }
      50%{
        transform: scale(1);
      }
    }
  
  
  h1{
    margin: 2%; 
    font-family: 'Ubuntu', sans-serif;         
  }
  .head1 h1{
   text-transform: uppercase;
  }
  .head p{
    font-size: 18px;
  }
  h2{
    margin: 2%;
  }
  @media  (max-width: 500px){
  .back{
    min-height: auto;
    width: auto;
  }
}

@media  (max-width: 526px){
.back{
  min-height: auto;
}
}
@media  (max-width: 464px){

  .back{
    min-height: auto;
  }

};
@media  (max-width: 450px){

  .back{
    min-height: 20vh;
    width: auto;
  }
 
  
  .head{
    color: white;
    margin-left:9%;
    font-weight: bold;
   font-size: large;
    
  }

};
@media  (max-width: 450px){
  .back{
    min-height: 20vh;
    width: auto;
  }
 
  
  .head{
    color: white;
    margin-left:7%;
    font-weight: bold;
   font-size: large;
   word-spacing: 2%;
    
  }

}
@media  (max-width: 390px){


  .back{
    min-height: auto;
    width: auto;
  }
  .head{
   
    margin-left: 6%;
    
   
  }

}
@media  (max-width: 351px){


  .back{
    min-height: auto;
  }
  .head{
   
    margin-left: 10%;
    
   
  }

}
@media  (max-width: 350px){

  .back{
    min-height: auto;
    width: auto;
  }
  .head{
   
    margin-left: 10%;
    
   
  }
}
@media  (max-width: 300px){

  .back{
    min-height: auto;
    width: auto;
  }
}
/* __________________________________________ */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#about {
  /* background-image: url(/image/bk2.jfif); */
  width: 100%;
  height: 100vh;
  /* border: 1px solid black;
  border-radius: 10px 10px; */
  
}
h1{
  font-family: 'Ubuntu', sans-serif
}
.about1{
 align-items: center; 
  width: 9%;
  border-bottom: 4px solid black;
  margin: 40px auto 0px auto;
  /* background-color: black; */
  /* border-radius: 10px ; */
  color: black;
  font-family: 'Ubuntu', sans-serif
}
.abt{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.abt .abt1{
  margin-left: 7%;
  margin-top: 5%;
}
.abt .abt1 p{
  font-size: large;
  text-align: justify;
  word-spacing: 5px;
}
 .abt1 .zee{
  font-weight: bolder;
  font-size: x-large;
  
  margin-bottom: 4%;
  
}
.skills12 {
  margin-top: 4%;
  margin-left: 4%;
}
.skills12 .skl{
     font-weight: bolder;
     font-size: x-large;
}
.skills12 .skl1{
  display: flex;
  margin-top: 5%;
  gap: 5%;
  font-weight: bolder;
  font-size: large;
}
.skills12 .skills1{
  background-color: lightslategray;
  border-radius: 5px 5px;
  padding: 5px 5px;
}
.wrapper {
  width: 500px;
  padding-top: 40px;

}

.skill {
  margin-bottom: 35px;
  position: relative;
  overflow-x:hidden;
}

.skill p {
  font-size: 18px;
  font-weight: 700;
  color: #1a1716;
  margin: 0;
}

.skill:before {
  width: 100%;
  height: 20px;
  content: "";
  display: block;
  position: absolute;
  background: black;
  bottom: 0;
}

.skill-bar {
  width: 100%;
  height: 20px;
  background:#FFCB42;
  display: block;
  position: relative;
}

.skill-bar span {
  position: absolute;
  border-top: 5px solid #8758FF;
  top: -30px;
  padding: 0;
  font-size: 18px;
  padding: 3px 0;
  font-weight: 500;
}

.skill-bar {
  position: relative;
}

.skill1 .skill-count1 {
  right: 0;
}

.skill1 {
  width: 90%;
}

.skill2 {
  width: 85%;
}

.skill2 .skill-count2 {
  right: 0;
}

.skill3{
 width: 75%;
}

.skill3 .skill-count3 {
  right: 0;
}
.skill4{
  width: 65%;
 }
 
 .skill4 .skill-count4 {
   right: 0;
 }

 @media  (max-width: 1050px){

  #about {
    width: auto;
    height: 120vh;
  } 
  .wrapper {
    width: 370px;
    padding-top: 40px;
  
  }
  }
@media  (max-width: 1000px){

#about {
  width: auto;
  height: 120vh;
} 
.wrapper {
  width: 370px;
  padding-top: 40px;

}
}
@media  (max-width: 900px){

  #about {
    width: auto;
    height: 140vh;
  } 
  .about1{
    align-items: center; 
     width: 15%;
     
   }
   .wrapper {
    width: 370px;
    padding-top: 40px;
  
  }
  .skills12 .skl1{
    display: flex;
    margin-top: 5%;
    gap: 5%;
    width: 50%;
    font-weight: bolder;
    font-size: large;
  }
  }
  @media  (max-width: 850px){

    #about {
      width: auto;
      height: 160vh;
    } 
    .about1{
      align-items: center; 
       width: 15%;
       
     }
     .wrapper {
      width: 370px;
      padding-top: 40px;
    
    }
    .skills12 .skl1{
      display: flex;
      margin-top: 5%;
      gap: 5%;
      width: 50%;
      font-weight: bolder;
      font-size: large;
    }
    
    }
    @media  (max-width: 800px){

      #about {
        width: auto;
        height: 160vh;
      } 
      .about1{
        align-items: center; 
         width: 18%;
         
       }
      .abt{
        display: grid;
        grid-template-columns: 1fr ;
      }
      .abt .abt1{
        margin-left: 7%;
        margin-top: 4%;
      }
      }
      @media  (max-width: 560px){

        #about {
          width: auto;
          height: 180vh;
        } 
        .about1{
          align-items: center; 
           width: 22%;
           
         }
        .abt{
          display: grid;
          grid-template-columns: 1fr ;
        }
        .skills12 .skl{
          font-weight: bolder;
          font-size: x-large;
          width: 50%;
     }
        .abt .abt1{
          margin-left: 7%;
          width: 100%;
          margin-top: 4%;
        }
        .skill {
          margin-bottom: 30px;
          width: 80%; 
        } 
        }
        @media  (max-width: 600px){

          #about {
            width: auto;
            height: 220vh;
          } 
          .about1{
            align-items: center; 
             width: 22%;
             
           }
          .abt{
            display: grid;
            grid-template-columns: 1fr ;
          }
          .skills12 .skl{
            font-weight: bolder;
            font-size: x-large;
            width: 50%;
       }
          .abt .abt1{
            margin-left: 7%;
            width: 80%;
            margin-top: 4%;
          }
          .skl{
            margin-left: 2%;
          }
          .skill {
            margin-bottom: 30px;
            width: 80%; 
            margin-left: 2%;
          } 
          .skills12 .skl1{
            display: flex;
            flex-direction: column;
          }
          .skills12 .skills1{
          width: 50%;
          margin-top: 2%;
          margin-left: 2%;
          }
          .wrapper {
            width: 387px;
            padding-top: 40px;
          
          }
          }
        @media  (max-width: 470px){

          #about {
            width: auto;
            height: 220vh;
          } 
          .about1{
            align-items: center; 
             width: 22%;
             
           }
          .abt{
            display: grid;
            grid-template-columns: 1fr ;
          }
          .skills12 .skl{
            font-weight: bolder;
            font-size: x-large;
            width: 50%;
       }
          .abt .abt1{
            margin-left: 7%;
            width: 80%;
            margin-top: 4%;
          }
          .skl{
            margin-left: 2%;
          }
          .skill {
            margin-bottom: 30px;
            width: 80%; 
            margin-left: 2%;
          } 
          .skills12 .skl1{
            display: flex;
            width: auto;
            flex-direction: column;
          }
          .skills12 .skills1{
          width: 50%;
          margin-top: 2%;
          margin-left: 2%;
          }
          .wrapper {
            width: 387px;
            padding-top: 40px;
          
          }
          }
          /* @media  (max-width: 470px){
            .back{ 
              background-image: url(/image/bg6.jpg);
              width: 100%;
              height: 95Vh;
              border: 1px solid white;
              border-radius: 10px 10px;
           }

            #about {
              width: auto;
              height: 260vh;
            } 
            .about1{
              align-items: center; 
               width: 22%;
               
             }
            .abt{
              display: grid;
              grid-template-columns: 1fr ;
            }
            .skills12 .skl{
              font-weight: bolder;
              font-size: x-large;
              width: 50%;
         }
            .abt .abt1{
              margin-left: 9%;
              width: 80%;
              margin-top: 4%;
            }

            .skl{
              margin-left: 2%;
            }
            .skill {
              margin-bottom: 30px;
              width: 80%; 
              margin-left: 2%;
            } 
            .skills12 .skl1{
              display: flex;
              width: auto;
              flex-direction: column;
            }
            .skills12 .skills1{
            width: 30%;
            margin-top: 2%;
            margin-left: 2%;
            }
            .wrapper {
              width: 387px;
              padding-top: 40px;
            
            }
            } */
            @media  (max-width: 470px){

              #about {
                width: auto;
                height: auto;
              } 
            }
            @media  (max-width: 350px){

              #about {
                width: auto;
                height: auto
              } 
              .about1{
                align-items: center; 
                 width: 35%;
                 
               }
              .abt{
                display: grid;
                grid-template-columns: 1fr ;
                width: 100%;
              }
              .skills12 .skl{
                font-weight: bolder;
                font-size: x-large;
                width: 50%;
           }
              .abt .abt1{
                margin-left: 8%;
                width: 70%;
                margin-top: 4%;
              }
              .skl{
                margin-left: 2%;
              }
              .skill {
                margin-bottom: 30px;
                width: 80%; 
                margin-left: 2%;
              } 
              .skills12 .skl1{
                display: flex;
                width: 40%;
                flex-direction: column;
              }
              .skills12 .skills1{
              width: auto;
              margin-top: 2%;
              margin-left: 2%;
              }
              .wrapper {
                width: 310px;
                padding-top: 40px;
              
              }
              }
              /* ______________________________________________________ */
/* .cont5{
  border: 2PX solid black;
   border-radius: 10PX 10PX;
   width: 100%;
  
   
} */
.cont5{
  /* border: 2px solid black; */
  width: 100%;
  
  height: 170vh;
  background-image: url(/image/black1.jpg);

}
.prac{
  align-items: center; 
  width: 11%;
  border-bottom: 2px solid white;
  margin: 40px auto 0px auto;
  font-weight: bolder;
  font-size: xx-large;
  color: #FFCB42;
  text-transform: uppercase;
  /* background-color: #413F42; */
  /* border-radius: 10px ; */
  /* box-shadow: 5px 5px 5px 5px #8758FF; */
}

.practext{
  font-weight: bold;
  text-align: center;
  padding-top:2%;
  color: white;
}
/* .cont5{
  background-image: url();
} */
.cont5 .aboutcont {
  padding-top: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;

}
.cont5 .aboutcont .aboutimg img{
  width: 65%;
  height: 35vh;
  border: 1px solid black;
  border-radius: 5px 5px;
  margin-top: 0%;
  margin-left: 20%;
  /* box-shadow: 5px 5px 5px 5px #9f83e6; */
}
.cont5 .aboutcont .aboutimg img:hover{
  box-shadow: 0 0 20px 0;
  color: #FFCB42;
  transform: scale(1.05);
}
.cont5 .conttext .web{
   font-weight: bolder;
   font-size: x-large;
   padding-top: 2%;   
   color: white;
}

  .practext1{
 padding-top: 5%;
 font-weight: bolder;
color: #959595;
}
 .praclink1 {
    text-decoration: none;
    font-weight: bolder;
    padding-top: 9%;
}
.praclink1 a{
  background-color: #FFCB42;
  border: 1px solid black;
  border-radius: 5px 5px;
  color:black;
  text-decoration: none;
  padding: 5px 5px 5px 5px;
  font-weight: bolder;
}
.praclink1 a:hover{
    color:black;
    background-color:white; 
   
}

@media  (max-width: 700px){
  .cont5{
    /* border: 2px solid black; */
    width: 100%;
    
    height: auto;
    background-image: url(/image/black1.jpg);
  
  }
  .cont5 .aboutcont {
    padding-top: 5%;
    display: grid;

    grid-template-columns: 1fr ;
  
  }
  .conttext div{
    margin-left: 15%;
  }
}
@media  (max-width: 600px){
  .cont5{
    width: 100%;
    height: auto;
    background-image: url(/image/black1.jpg);
  
  }
  .cont5 .aboutcont {
    padding-top: 5%;
    display: grid;
    grid-template-columns: 1fr ;
  
  }
  .conttext div{
    margin-left: 15%;
 
}
}
@media  (max-width: 550px){
  .cont5{
  /* border: 2px solid black; */
  width: 100%;
  
  height: auto;
  background-image: url(/image/black1.jpg);

}

  .cont5 .aboutcont {
    padding-top: 5%;
    display: grid;
    grid-template-columns: 1fr ;
  
  }
  .conttext div{
    margin-left: 20%;

}
}
  @media  (max-width: 450px){
    .cont5{
      /* border: 2px solid black; */
      width: 100%;
      
      height: auto;
      background-image: url(/image/black1.jpg);
    
    }
    .cont5 .aboutcont {
      padding-top: 5%;
      display: grid;
      height: 80vh;
      grid-template-columns: 1fr ;
    
    }
    .conttext div{
      margin-left: 15%;
    }
    .prac{
      align-items: center; 
      width: 40%;
      border-bottom: 4px solid black;
      margin: 40px auto 0px auto;
      font-weight: bolder;
      font-size: xx-large;
      text-transform: uppercase;
    }
  
  }


/* ________________________________________ */
 /* .cont6{ */
   /* border: 1px solid black; */
   /* border-radius: 10px 10px;
  background-color: lightgrey;
   width: 92%;
   margin-left: 5%;
   box-shadow: 5px 5px 5px 5px #1a1716; */
   
   

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.cont6 .resume{
  
   
  width: 10%;
  border-bottom: 4px solid black;
  margin: 40px auto 0px auto;
  
  font-weight: bolder;
  font-size: xx-large;
  text-transform: uppercase;
  /* background-color: #413F42;
  border-radius: 10px ;
  box-shadow: 5px 5px 5px 5px #8758FF; */
}
.cont6 .resumeimg img{
  width: 45%;
  height: 50vh;
  border: 2px solid black;
  border-radius: 5px 5px ;
  margin-left: 30%;
  margin-top: 5%;
}
.cont6 .resumetext{
   margin-top: 20%;
    margin-right: 10%;
}
.cont6 .resumetext a{
  text-decoration: none;
  font-weight: bolder;
  font-size: xx-large;
  color: #1a1716;
  background-color:white;
  text-transform: uppercase;
  border: 1px solid black;
  border-radius: 10px 10px;
  padding: 5px 5px 5px 5px;
 

}
.cont6 .resumetext a:hover{
  background-color:#FFCB42;
  color: black;
  
}
@media  (max-width: 600px){
  .cont6{
    height: auto;
    margin-left: 4%;
  }
  .cont6 .resume{
    width:30%;
    border-bottom: 4px solid black;
    margin: 40px auto 0px auto;
    font-weight: bolder;
    font-size: xx-large;
    text-transform: uppercase;
    margin-left: 35%;
  }
  .grid{
    display: grid;
    grid-template-columns: 1fr ;
   margin-left: 20%;
   margin-bottom: 5%;
  }
  .cont6 .resumeimg img{
    width: 45%;
    height: 30vh;
    border: 2px solid black;
    border-radius: 5px 5px ;
    margin-left: 16%;
    margin-top: 5%;
  }

}
@media  (max-width: 400px){
  .cont6 .resumetext{
    margin-top: 20%;
    margin-left: -10%;
}

}
@media  (max-width: 350px){
  .cont6 .resumetext{
    margin-top: 20%;
    margin-left: -20%;
}

}
/* __________________________________________________ */
.cont7{
  background-image: url(/image/black1.jpg);
  width: 100%;
  height: 120vh;
}
.cont7 .contact{
  align-items: center; 
  width: 12%;
  color:#FFCB42;
  border-bottom: 2px solid white;
  margin: 40px auto 0px auto;
  font-weight: bolder;
  font-size: xx-large;
  text-transform: uppercase;
  /* background-color: #413F42;
  border-radius: 10px ;
  box-shadow: 5px 5px 5px 5px #8758FF; */
}
.cont7 .contactfont{
   margin-top: 1%;
   text-align: center;
   font-weight: bolder;
   color: white;
}
.cont7 .add{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.cont7 .add1{
  color: white;
  margin-top: 7%;

  font-weight: bolder;
  font-size: x-large;
  margin-left: 30%; 
  /* background-color: #959595;
  width: 40%;
  height: 30vh;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px #9f83e6;
   */
}
.cont7 .add1 ul li{
  list-style: none;
  padding-top: 10px;
}
.cont7 .add2{
  margin-top: 5%;
}
.cont7 .add3 .inname{
  font-weight: bolder;
  color: white;
}
.cont7 .add3 input{
  width: 80%;
 margin-top: 2%;
  padding: 10px 300px 10px 10px;
  border-radius: 5px 5px;
  outline: none;
  background-color: white;
}
.cont7 .add3 .inemail{
  font-weight: bolder;
  margin-top: 2%;
  color: white;
}
.cont7 .add3 .inmessage{
  font-weight: bolder;
  margin-top: 2%;
  color: white;
}
.cont7 .message1 textarea{
 padding: 10px 10px 10px 10px;
 font-weight: bold;
 outline: none;
 
}
.cont7 .send{
  margin-top: 5%;
  margin-left: 68%;
}
.cont7 .send a{
  text-decoration: none;
  font-weight: bolder;
  font-size: x-large;
  color:white;
  border: 1px solid white;
  border-radius: 5px 5px;
  padding: 10px 10px;
}
.cont7 .send a:hover{
  color:#FFCB42;
  background-color:black;

}
.add .add1 i{
  color: #FFCB42;
}
@media  (max-width: 950px){
  .cont7{
    /* background-image: url(/image/bg2.jfif); */
    width: auto;
    height: auto;
  }
  .cont7 .contact{
    align-items: center; 
    width: 38%;
    border-bottom: 4px solid black;
    margin: 40px auto 0px auto;
    font-weight: bolder;
    font-size: xx-large;
    text-transform: uppercase;
    margin-left: 30%;
  }
  .cont7 .contactfont{
    margin-top: 2%;
    text-align: center;
    font-weight: bolder;
    color: #413F42;
    margin-left: 3%;
 }
  .cont7 .add{
    display: grid;
    grid-template-columns: 1fr ;
  }
  .cont7 .add1{
    margin-top: 7%;
    font-weight: bolder;
    font-size: x-large;
    margin-left: 7%; 
  }
  .cont7 .message1 textarea{
    padding: 10px 10px 10px 10px;
    font-weight: bold;
    outline: none;
    width: 80%;
    height: 50%;
   }
   .cont7 .add3 .inname{
    font-weight: bolder;
     margin-left: 7%;
  }
   .cont7 .add3 .inemail{
    font-weight: bolder;
    margin-top: 2%;
    margin-left: 7%;
  }
  .cont7 .add3 .inmessage{
    font-weight: bolder;
    margin-top: 2%;
    margin-left: 7%;
  }
  .cont7 .add3 input{
    width: 80%;
   margin-top: 2%;
    padding: 10px 300px 10px 10px;
    border-radius: 5px 5px;
    outline: none;
    margin-left: 7%;
  }
  .cont7 .message1 textarea{
    padding: 10px 10px 10px 10px;
    font-weight: bold;
    outline: none;
    width: 80%;
    height: 50%;
    margin-left: 7%;
   }
  }
  @media  (max-width: 450px){
    .cont7{
      /* background-image: url(/image/bg2.jfif); */
      width: auto;
      height: 140vh;
    }
    .cont7 .contact{
      align-items: center; 
      width: 38%;
      border-bottom: 4px solid black;
      margin: 40px auto 0px auto;
      font-weight: bolder;
      font-size: xx-large;
      text-transform: uppercase;
      margin-left: 30%;
    }
    .cont7 .add1{
      margin-top: 7%;
      font-weight: bolder;
      font-size: x-large;
      margin-left: 30%; 
     
      
    }
    .cont7 .contactfont{
      margin-top: 2%;
      text-align: center;
      font-weight: bolder;
      color: #413F42;
      margin-left: 3%;
   }
    .cont7 .add{
      display: grid;
      grid-template-columns: 1fr ;
    }
    .cont7 .add1{
      margin-top: 7%;
      font-weight: bolder;
      font-size: x-large;
      margin-left: 7%; 
    }
    .cont7 .message1 textarea{
      padding: 10px 10px 10px 10px;
      font-weight: bold;
      outline: none;
      width: 80%;
      height: 50%;
     }
     .cont7 .add3 .inname{
      font-weight: bolder;
       margin-left: 7%;
    }
     .cont7 .add3 .inemail{
      font-weight: bolder;
      margin-top: 2%;
      margin-left: 7%;
    }
    .cont7 .add3 .inmessage{
      font-weight: bolder;
      margin-top: 2%;
      margin-left: 7%;
    }
    .cont7 .add3 input{
      width: 80%;
     margin-top: 2%;
      padding: 10px 300px 10px 10px;
      border-radius: 5px 5px;
      outline: none;
      margin-left: 7%;
    }
    .cont7 .message1 textarea{
      padding: 10px 10px 10px 10px;
      font-weight: bold;
      outline: none;
      width: 80%;
      height: 50%;
      margin-left: 7%;
     }
    }
   @media  (max-width: 350px){
   .cont7 .add3 input{
      width: 50%;
     margin-top: 2%;
      padding: 10px 300px 10px 10px;
      border-radius: 5px 5px;
      outline: none;
      margin-left: 7%;
    }
    .cont7 .message1 textarea{
      padding: 10px 10px 10px 10px;
      font-weight: bold;
      outline: none;
      width: 80%;
      height: 50%;
      margin-left: 7%;
     }
  }

 

/* _____________________________________________________ */

.container7{
  width: 100%;
  height: 53vh;
  background-color: black;
 
}
.container7 .section7{
 display: flex;
 padding: 10% 10% 0% 10%;
}
.container7 .footer .footer-title{
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 20px;
}
.container7 .footer .footer-content{
  width: 60%;
  color: #FFFFFF;
  text-transform: capitalize;
  font-weight: 400;
}

.container7 .section7 .social .title-social{
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 30px;
  padding-bottom: 10px;
}
.container7 .section7 .social{ 
  width: 30%; 
} 
.container7 .section7 .social .icon{ 
  display: flex; 
  padding: 10px; 
 
} 
.container7 .section7 .social .icon a {
  padding-left: 20px;

  
}
.container7 .section7 .social .icon i{
  color: white;

}
.container7 .footer{
  width: 70%;
  margin-bottom: 15%;
}
.line1{
  width: 80%;
  border-bottom: 2px solid white;
  margin-left: 120px;
  padding-top: 40px;
}
.footernav{
  text-align: center;
  
 
}
@media  (max-width: 700px){

  .container7 .section7{
    display: flex;
    flex-direction: column;
    padding: 10% 10% 0% 10%;
   }
   .container7{
    width: auto;
    height: auto;
    background-color: black;
    border-radius: 10px 10px ;
   
  }
  .container7 .footer .footer-content{
    width: auto;
    color: #FFFFFF;
    text-transform: capitalize;
    font-weight: 400;
  }
}
/* @media  (max-width: 400px){
footer{
  width: auto;
}
} */
